.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  background: rgba(15, 30, 147, 1);
  border: 1px solid #0F1E93;
  border-radius: 24px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 500;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .badge {
    width: auto;
    min-width: 45px;
    height: 14px;
    padding: 1.91px 4.78px;
    border-radius: 12px;
    border-width: 0.48px;
    font-size: 6px;
    gap: 1.91px;
  }
}
